<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <style>
        body {
            position: relative;
            padding-top: 30px;
        }
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('/img/home-image.jpg') center center/cover no-repeat;
            opacity: 0.8;
            filter: blur(5px);
            z-index: -1;
        }
        .form-control {
            border-radius: 0;
        }
        .btn {
            border-radius: 0;
        }
        .form-container {
            background: rgba(255, 255, 255, 0.8);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 1;
        }
        h1 {
            color: #fff;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="bg-light">
<nav th:replace="~{partials/navbar :: navbar}"></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="text-center my-4">Welcome to Auto-Connect! <br>Create your profile</h1>
            <div class="card shadow">
                <div class="card-body">
                    <form th:action="@{/registration}" th:method="post" th:object="${user}">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">First Name:</label>
                            <input type="text" name="first_name" id="first_name" th:field="*{first_name}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="last_name" class="form-label">Last Name:</label>
                            <input type="text" name="last_name" id="last_name" th:field="*{last_name}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" name="username" id="username" th:field="*{username}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" name="email" id="email" th:field="*{email}" class="form-control">
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" name="password" id="password" th:field="*{password}" class="form-control">
                            <div th:if="${passwordError}" class="alert alert-danger mt-3" th:text="${passwordError}"></div>

                        </div>

                        <div class="mb-3">
                            <label class="form-label">User Type:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="newUser" value="newUser" checked>
                                <label class="form-check-label" for="newUser">New User</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="userType" id="mechanic" value="mechanic">
                                <label class="form-check-label" for="mechanic">Mechanic</label>
                            </div>
                        </div>

                        <div id="mechanicFields" style="display: none;">
                            <div class="mb-3">
                                <label for="certification" class="form-label">Certification:</label>
                                <input type="file" class="form-control" name="certification" id="certification" th:field="*{certification}" accept=".jpg,.jpeg,.png,.pdf">
                            </div>
                            <div class="mb-3">
                                <label for="address_street" class="form-label">Street:</label>
                                <input type="text" name="address_street" id="address_street" th:field="*{address_street}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="address_city" class="form-label">City:</label>
                                <input type="text" name="address_city" id="address_city" th:field="*{address_city}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="address_state" class="form-label">State:</label>
                                <input type="text" name="address_state" id="address_state" th:field="*{address_state}" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="address_zip" class="form-label">Zip:</label>
                                <input type="text" name="address_zip" id="address_zip" th:field="*{address_zip}" class="form-control">
                            </div>
                        </div>
                        <input type="submit" value="Sign Up!" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/registration.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>