<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'/>
    <script th:src="@{/js/keys.js}"></script>
    <meta charset="UTF-8">
    <title>Mechanic Search Page</title>

    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<body>


<div>
    <input type="text" id="zipcodeInput" name="keyword" placeholder="Enter ZIP code">
    <button id="searchButton" type="button">Search</button>
</div>


<div id='map' style='width: 400px; height: 300px;'></div>
<script>
    fetch('http://localhost:8080/users/mechanic-list?zipcode=75207')
        .then(res => res.json())
        .then(data => console.log(data));
</script>
<script>

    document.getElementById('searchButton').addEventListener('click', function (event) {
        event.preventDefault();

        let zipCode = document.getElementById('zipcodeInput').value;
        updateMapAndMechanics(zipCode);
    });

    function updateMapAndMechanics(zipCode) {
        // Clear existing markers from the map
        map.remove();

        fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(zipCode)}.json?access_token=pk.eyJ1IjoiYW1pcjk3MyIsImEiOiJjbGo0aTdsZ2IwMWhhM3RwaTJ3OW55dThwIn0.aHk5duLxybjEOkw0_BDHCA`)
            .then((geocodeResponse) => geocodeResponse.json())
            .then((geocodeResponse) => {
                let coordinates = geocodeResponse.features[0].center;

                map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: coordinates,
                    zoom: 9
                });

                fetch(`http://localhost:8080/users/mechanic-list?zipcode=${zipCode}`)
                    .then((response) => response.json())
                    .then((response) => {

                        response.forEach(mechanic => {
                            let firstName = mechanic.first_name;
                            let lastName = mechanic.last_name;
                            let street = mechanic.address_street;
                            let city = mechanic.address_city;
                            let zipCode = mechanic.address_zip;
                            let state = mechanic.address_state

                            let searchQuery = `${street}, ${city}, ${zipCode},${state}`;

                            let profileLink = document.createElement('a');
                            profileLink.href = `/profile/${mechanic.id}`; // Update the URL pattern as per your application's routing
                            profileLink.textContent = `${firstName} ${lastName}`;
                            profileLink.addEventListener('click', function (event) {
                                event.stopPropagation(); // Prevent the map click event from triggering
                            });

                            fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(searchQuery)}.json?access_token=pk.eyJ1IjoiYW1pcjk3MyIsImEiOiJjbGo0aTdsZ2IwMWhhM3RwaTJ3OW55dThwIn0.aHk5duLxybjEOkw0_BDHCA`)
                                .then((geocodeResponse) => geocodeResponse.json())
                                .then((geocodeResponse) => {
                                    let coordinates = geocodeResponse.features[0].center;

                                    new mapboxgl.Marker()
                                        .setLngLat(coordinates)
                                        .setPopup(new mapboxgl.Popup().setHTML(getPopupContent(profileLink,firstName, lastName, street, city,state, zipCode)))
                                        .addTo(map);

                                    // populateMechanicList(mechanic);
                                })
                    //             .catch((error) => {
                    //                 console.error('Error ', error);
                    //             });
                    //     });
                    })
                    // .catch((error) => {
                    //     console.error('Error', error);
                    });
            })
            .catch((error) => {
                console.error('Error ', error);
            });
    }

    // function populateMechanicList(mechanic) {
    //     let tableBody = document.getElementById('mechanicTableBody');
    //     let row = document.createElement('tr');
    //     let nameCell = document.createElement('td');
    //     let emailCell = document.createElement('td');
    //     let addressCell = document.createElement('td');
    //
    //     nameCell.textContent = mechanic.first_name + ' ' + mechanic.last_name;
    //     emailCell.textContent = mechanic.email;
    //     addressCell.textContent = mechanic.address_street + ', ' + mechanic.address_city + ' ' + mechanic.address_zip;
    //
    //     row.appendChild(nameCell);
    //     row.appendChild(emailCell);
    //     row.appendChild(addressCell);
    //
    //     tableBody.appendChild(row);
    // }


    mapboxgl.accessToken = "pk.eyJ1IjoiYW1pcjk3MyIsImEiOiJjbGo0aTdsZ2IwMWhhM3RwaTJ3OW55dThwIn0.aHk5duLxybjEOkw0_BDHCA"
    let map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-96.808891, 32.779167], // starting position [lng, lat]
        zoom: 9, // starting zoom
    });

    //
    // function listOfMechanics() {
    //
    //
    //     fetch('http://localhost:8080/users/mechanic-list')
    //         .then((response) => response.json())
    //         .then((response) => {
    //             response.forEach(mechanic => {
    //                 let firstName = mechanic.first_name;
    //                 let lastName = mechanic.last_name;
    //                 let street = mechanic.address_street;
    //                 let city = mechanic.address_city;
    //                 let zipCode = mechanic.address_zip;
    //
    //
    //                 let searchQuery = `${street}, ${city}, ${zipCode}`;
    //
    //
    //                 fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(searchQuery)}.json?access_token=pk.eyJ1IjoiYW1pcjk3MyIsImEiOiJjbGo0aTdsZ2IwMWhhM3RwaTJ3OW55dThwIn0.aHk5duLxybjEOkw0_BDHCA`)
    //                     .then((geocodeResponse) => geocodeResponse.json())
    //                     .then((geocodeResponse) => {
    //
    //                         let coordinates = geocodeResponse.features[0].center;
    //
    //
    //                         new mapboxgl.Marker()
    //                             .setLngLat(coordinates)
    //                             .setPopup(new mapboxgl.Popup().setHTML(getPopupContent(firstName, lastName, street, city, zipCode)))
    //                             .addTo(map);
    //                     })
    //                     .catch((error) => {
    //                         console.error('Error performing geocoding request:', error);
    //                     });
    //             });
    //         })
    //         .catch((error) => {
    //             console.error('Error retrieving mechanic list:', error);
    //         });
    // }

    function getPopupContent( profileLink,firstName, lastName, street, city, zipCode,state) {
        // return `<h3>${firstName} ${lastName}</h3>
        // <p>${street}, ${city}, ${zipCode}, ${state}</p>`;
        return `<h3>${profileLink.outerHTML}</h3>
        <p>${street}, ${city}, ${zipCode}, ${state}</p>`
    }

    // listOfMechanics();


</script>
<h1>All Mechanics</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody>


    <h1>Mechanic Search</h1>

    <form th:action="@{/MechanicSearchPage}" method="get">
        <input type="text" name="keyword" placeholder="Enter keyword">
        <button type="submit">Search</button>
    </form>


    <h2>Search Results</h2>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mechanic : ${searchResults}">
            <td th:text="${mechanic.first_name + ' ' + mechanic.last_name}"></td>
            <td th:text="${mechanic.email}"></td>
            <td th:text="${mechanic.address_street + ', ' + mechanic.address_city + ' ' + mechanic.address_zip}"></td>
        </tr>
        </tbody>
    </table>


    <h1>All Mechanics</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mechanic : ${ViewAllMechanics}">
            <td th:text="${mechanic.first_name + ' ' + mechanic.last_name}"></td>
            <td th:text="${mechanic.email}"></td>
            <td th:text="${mechanic.address_street + ', ' + mechanic.address_city + ' ' + mechanic.address_zip}"></td>
        </tr>
        </tbody>
    </table>
</table>
</body>
</html>
