<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/keys.js}"></script>

    <meta charset="UTF-8">
    <title>Mechanic Search Page</title>


    <style>
        .map {
            height: 400px;

            margin-top: 20px;
            margin-bottom: 20px;
            background-size: cover;
            background-position: center;
            width: 100%;

        }

        * {
            font-family: "Fantacy", Cop, Copperplate;
        }
    </style>

</head>

<body>

<nav th:replace="~{partials/navbar :: navbar}"></nav>
<h1>Find a mechanic near you! </h1>

<div>
    <input type="text" id="zipcodeInput" name="keyword" placeholder="Enter ZIP code">
    <button id="searchButton" type="button">Search</button>
</div>


<div id='map' class="map"></div>
<script>

    document.getElementById('searchButton').addEventListener('click', function (event) {
        event.preventDefault();

        let zipCode = document.getElementById('zipcodeInput').value;
        updateMapAndMechanics(zipCode);
    });

    function updateMapAndMechanics(zipCode) {

        map.remove();

        fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(zipCode)}.json?access_token=${MAPBOX_KEY}`)
            .then((geocodeResponse) => geocodeResponse.json())
            .then((geocodeResponse) => {
                let coordinates = geocodeResponse.features[0].center;

                map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v12',
                    center: coordinates,
                    zoom: 9
                });

                fetch(`http://localhost:8080/users/mechanic-list?zipcode=${zipCode}`)
                    .then((response) => response.json())
                    .then((response) => {

                        response.forEach(mechanic => {
                            let firstName = mechanic.first_name;
                            let lastName = mechanic.last_name;
                            let street = mechanic.address_street;
                            let city = mechanic.address_city;
                            let zipCode = mechanic.address_zip;
                            let state = mechanic.address_state

                            let searchQuery = `${street}, ${city}, ${zipCode},${state}`;

                            let profileLink = document.createElement('a');
                            profileLink.href = `/profile/${mechanic.id}`;
                            profileLink.textContent = `${firstName} ${lastName}`;
                            profileLink.addEventListener('click', function (event) {
                                event.stopPropagation();
                            });

                            fetch(`https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(searchQuery)}.json?access_token=${MAPBOX_KEY}`)
                                .then((geocodeResponse) => geocodeResponse.json())
                                .then((geocodeResponse) => {
                                    let coordinates = geocodeResponse.features[0].center;
                                    console.log("Creating new marker...")
                                    new mapboxgl.Marker()
                                        .setLngLat(coordinates)
                                        .setPopup(new mapboxgl.Popup().setHTML(getPopupContent(profileLink, firstName, lastName, street, city, state, zipCode)))
                                        .addTo(map);
                                    console.log(map)
                                    // populateMechanicList(mechanic);
                                })
                            //             .catch((error) => {
                            //                 console.error('Error ', error);
                            //             });
                            //     });
                        })
                        // .catch((error) => {
                        //     console.error('Error', error);
                    });
            })
            .catch((error) => {
                console.error('Error ', error);
            });
    }




    mapboxgl.accessToken = MAPBOX_KEY
    let map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-96.808891, 32.779167],
        zoom: 9,
    });


    function getPopupContent(profileLink, firstName, lastName, street, city, zipCode, state) {
        // return `<h3>${firstName} ${lastName}</h3>
        // <p>${street}, ${city}, ${zipCode}, ${state}</p>`;
        return `<h3>${profileLink.outerHTML}</h3>
        <p>${street}, ${city}, ${zipCode}, ${state}</p>`
    }


</script>
<div class="row">
    <div class="col-md-6">
        <h1>Search By Keyword</h1>
        <form th:action="@{/MechanicSearchPage}" method="get">
            <input type="text" name="keyword" placeholder="Enter keyword">
            <button type="submit">Search</button>
        </form>

        <h2>Search Results</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div th:each="mechanic : ${searchResults}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a th:href="@{/profile/{id}(id=${mechanic.id})}" th:text="${mechanic.first_name + ' ' + mechanic.last_name}"></a>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${mechanic.email}"></h6>
                            <p class="card-text" th:text="${mechanic.address_street + ', ' + mechanic.address_city + ' ' + mechanic.address_state + ' ' + mechanic.address_zip}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h1>All Mechanics</h1>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div th:each="mechanic : ${ViewAllMechanics}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${mechanic.first_name + ' ' + mechanic.last_name}"></h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${mechanic.email}"></h6>
                            <p class="card-text" th:text="${mechanic.address_street + ', ' + mechanic.address_city + ' ' + mechanic.address_zip}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>