<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />
    <style>
        #calendar {
            width: 400px;
            height: 300px;
        }
    </style>
</head>
<body>
<div th:if="${user.isMechanic}">
<h1>Mechanic Profile</h1>
<p style="text-align: center">Welcome!</p>
<p>Profile information goes here...</p>
    <a th:href="@{/profile/{id}/edit(id=${user.id})}" class="btn btn-primary">Edit Profile</a>

<form th:action="@{/create-appointment}" th:method="POST">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required>

    <button type="submit">Create Appointment</button>
</form>

<h2>Calendar</h2>
<div id="calendar"></div>

<input type="hidden" th:value="${appointments}">
</div>
<div th:if="${!user.isMechanic}">
    <h1>User Profile</h1>
    <p style="text-align: center">Welcome to your profile page!</p>
    <a th:href="@{/profile/{id}/edit(id=${user.id})}" class="btn btn-primary">Edit Profile</a>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
<script>
    "use strict";
    fetch("http://localhost:8080/api/appointments").then(res => res.json()).then(data => console.log(data));
</script>
<script>



     $(document).ready(function() {
         $('#calendar').fullCalendar({
             defaultView: 'month',
             events: {
                 url: '/api/appointments', // Endpoint to fetch appointments from
                 method: 'GET'
             }
         });
     });


</script>
</body>
</html>
